# run as the user <%= @node[:nginx][:run_user] %>
user <%= @node[:nginx][:run_user] %>;

# have 4 worker processes by default
worker_processes <%= @node[:nginx][:worker_processes] %>;

pid /var/run/nginx.pid;

events {
  worker_connections 768;
  # multi_accept on;
}


http {

  ##
  # Basic Settings
  ##

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;
  server_names_hash_bucket_size  64;
  # server_tokens off;

  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ##
  # SSL Settings
  ##
  # configure SSL per-site

  # ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
  # ssl_prefer_server_ciphers on;

  ##
  # Logging Settings
  ##

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  ##
  # Gzip Settings
  ##

  gzip                      on;
  gzip_http_version         1.1;
  gzip_disable              "msie6";
  gzip_vary                 on;
  gzip_min_length           1100;
  gzip_buffers              64 8k;
  gzip_comp_level           3;
  gzip_proxied              any;
  gzip_types                text/plain text/javascript text/css application/x-javascript text/xml application/xml application/json;

  # gzip_comp_level 6;
  # gzip_buffers 16 8k;
  # gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  <% if !!@node[:nginx][:passenger_enabled] %>
  ##
  # Passenger Settings
  ##
  include /etc/nginx/passenger.conf;

  passenger_show_version_in_header off;
  passenger_max_pool_size <%= @node[:passenger][:max_pool_size] %>;
  passenger_pool_idle_time <%= @node[:passenger][:idle_time] %>;
  passenger_log_level <%= @node[:passenger][:log_level] %>;
  <% end %>

  ##
  # Virtual Host Configs
  ##

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
