<% if @ssl_enabled %>
server {
  listen 443 ssl http2;
  server_name www.<%= @server_name %>;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
  ssl_prefer_server_ciphers on;
  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_certificate /etc/nginx/certs/<%= @server_name %>.crt;
  ssl_certificate_key /etc/nginx/certs/<%= @server_name %>.key;
  ssl_dhparam /etc/nginx/dh2048.pem;

  return 301 https://<%= @server_name %>$request_uri;
}

server {
  listen 443 ssl http2;

  server_name <%= @server_name %>;

  root /home/<%= @app_user %>/<%= @app_name %>/current/public;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
  ssl_prefer_server_ciphers on;

  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_certificate /etc/nginx/certs/<%= @server_name %>.crt;
  ssl_certificate_key /etc/nginx/certs/<%= @server_name %>.key;

  ssl_dhparam /etc/nginx/dh2048.pem;

  keepalive_timeout 5;

  access_log  /var/log/nginx/<%= @server_name %>.access.log;
  error_log  /var/log/nginx/<%= @server_name %>.error.log;

  <% if @htpasswd_enabled %>
  location / {
    # Add basic auth for protected resources
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
  <% end %>

  # passenger conf
  passenger_enabled on;
  passenger_app_type node;
  passenger_startup_file <%= @nodeapp_path %>;

  passenger_app_env <%= @app_env %>;
  passenger_friendly_error_pages <%= @debug_passenger %>;
  passenger_min_instances <%= @min_instances %>; #default 1

  include /etc/nginx/custom/<%= @server_name %>;
  client_max_body_size 500M;

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /home/<%= @app_user %>/<%= @app_name %>/current/public;
  }

  location / {
    gzip_static       on;
    expires           max;
    add_header        Cache-Control public;
    add_header        Last-Modified "";
    add_header        ETag "";
  }
}
<% else %>
server {
  server_name www.<%= @server_name %>;
  return 301 http://<%=@server_name %>$request_uri;
}

server {
  listen 80;
  server_name <%= @server_name %>;

  root /home/<%= @app_user %>/<%= @app_name %>/current/public;

  keepalive_timeout 5;

  access_log  /var/log/nginx/<%= @server_name %>.access.log;
  error_log  /var/log/nginx/<%= @server_name %>.error.log;

  <% if @htpasswd_enabled %>
  location / {
    # Add basic auth for protected resources
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
  <% end %>

  # passenger conf
  passenger_enabled on;
  passenger_app_type node;
  passenger_startup_file <%= @nodeapp_path %>;

  passenger_app_env <%= @app_env %>;
  passenger_friendly_error_pages <%= @debug_passenger %>;
  passenger_min_instances <%= @min_instances %>; #default 1

  include /etc/nginx/custom/<%= @server_name %>;
  client_max_body_size 500M;

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /home/<%= @app_user %>/<%= @app_name %>/current/public;
  }

  location ~ ^/public/ {
    expires 1y;
    add_header Cache-Control public;

    add_header ETag "";
  }
}
<% end %>
