<% if @ssl_enabled %>
server {
  listen 443 ssl http2;
  server_name www.<%= @server_name %>;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
  ssl_prefer_server_ciphers on;
  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_certificate /etc/nginx/certs/<%= @server_name %>.crt;
  ssl_certificate_key /etc/nginx/certs/<%= @server_name %>.key;
  ssl_dhparam /etc/nginx/dh2048.pem;

  return 301 https://<%= @server_name %>$request_uri;
}

server {
  listen 443 ssl http2;

  server_name <%= @server_name %>;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS;
  ssl_prefer_server_ciphers on;

  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_certificate /etc/nginx/certs/<%= @server_name %>.crt;
  ssl_certificate_key /etc/nginx/certs/<%= @server_name %>.key;

  ssl_dhparam /etc/nginx/dh2048.pem;

  keepalive_timeout 5;

  client_max_body_size 1G;

  access_log  /var/log/nginx/<%= @server_name %>.access.log;
  error_log  /var/log/nginx/<%= @server_name %>.error.log;

  location / {
    proxy_pass http://localhost:<%= @node_port %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location ~ /\. {
    access_log off;
    log_not_found off;
    deny all;
  }
}
<% else %>
server {
  server_name www.<%= @server_name %>;
  return 301 http://<%=@server_name %>$request_uri;
}

server {
  listen 80;
  server_name <%= @server_name %>;

  keepalive_timeout 5;

  client_max_body_size 1G;

  access_log  /var/log/nginx/<%= @server_name %>.access.log;
  error_log  /var/log/nginx/<%= @server_name %>.error.log;

  location / {
    proxy_pass http://localhost:<%= @node_port %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location ~ /\. {
    access_log off;
    log_not_found off;
    deny all;
  }
}
<% end %>
